body {
  margin: 0;
  min-height: 100vh;

  /* Smooth diagonal gradient stripes */
  background: repeating-linear-gradient(
    135deg,
    #2e7d32,
    #388e3c 40px,
    #2e7d32 80px
  );
}

#EnterInfoButton, #EnterElementsButton {
    background-color: greenyellow; 
    border: none;
    color: green;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: block;
    font-size: 16px;
    margin: 0 auto;
    margin-top: 40px;
    cursor: pointer;
    border-radius: 12px;
    font-weight: bold;
}

#WelcomeToGenD {
    color: rgb(0, 45, 0);
    text-align: center;
    font-weight: bolder;
    font-family: 'Arial', sans-serif;
    display: block;
}